.popover-content {
  width: 8rem;
  padding: 0.5rem;
}

.popover-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  cursor: pointer;
}

.popover-item.mt {
  margin-top: 0.5rem;
}

.icon {
  width: 1rem;
}
