.resume-link {
  color: #2563eb; /* blue-600 equivalent */
  text-decoration: underline;
  cursor: pointer;
}

.action-cell {
  text-align: right;
  cursor: pointer;
}

.popover-content {
  width: 8rem;
  padding: 0.5rem;
}

.status-option {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
}
